{%extends 'ttsx/base.html'%}

{% block body %}
<script>
	function add_cart(gid) {
		$.get('/islogin/',function (data) {
			if (data.islogin=='1'){
				$.get('/add/',{'gid':gid},function (data) {
					if(data.isadd=='1'){
						alert('购买成功！')
						if($('.login_btn').text().indexOf('登录')<0){
							$.get('/count/',function (data) {
									$('#show_count').text(data.count);
								});
							}
					}else {

					    alert('购买失败，请登录后重试。')
					}

                });
			}else {
				location.href = '/login/'
			}
        });

    }
</script>
    <div class="main_wrap clearfix">
        <ul class="goods_type_list clearfix">
            {%for goods in page_obj%}
            <li>
                <a href="/{{goods.id}}/"><img src="/static/{{goods.gpic}}"></a>
                <h4><a href="/{{goods.id}}/">{{goods.gtitle}}</a></h4>
                <div class="operate">
                    <span class="prize">￥{{goods.gprice}}</span>
                    <span class="unit">{{goods.gprice}}/{{goods.gunit}}</span>
                    <a href="javascript:add_cart({{goods.id}});" class="add_goods" title="加入购物车"></a>
                </div>
            </li>
            {%endfor%}
        </ul>
        <div class="pagenation">

            <a href="?commodity={{commodity}}&page=1">首页</a>&nbsp;&nbsp;
            {%if page_obj.has_previous%}
            <a href="?commodity={{commodity}}&page={{page_obj.number|add:-1}}">上一页</a>
            {%endif%}

            {%for pindex in page_list%}
            {%if pindex == page_obj.number%}
            <a href="#" class="active">{{pindex}}</a>
            {%else%}
            <a href="?commodity={{commodity}}&page={{pindex}}">{{pindex}}</a>
            {%endif%}
            {%endfor%}

            {%if page_obj.has_next%}
            <a href="?commodity={{commodity}}&page={{page_obj.number|add:1}}">下一页></a>&nbsp;&nbsp;
            {%endif%}
            <a href="?commodity={{commodity}}&page={{page_obj.paginator.num_pages}}">末页></a>
        </div>
    </div>
{% endblock body %}


