{%extends 'ttsx/base.html'%}
{%block body%}
<style>
	.settlements .col04 input{
		display:block;
		width: 120px;
		height:78px;
		background-color:#ff3d3d;
		text-align:center;
		line-height:78px;
		color:#fff;
		border: none;
		font-size:24px}

</style>
<script>

	function shows() {
		//显示数量价格
		total_all=0;
		$('.cart_list_td').each(function () {
			num=parseInt($(this).find('.num_show').val())
			price=parseFloat($(this).children('.col05').text());
			total_one=price*num;
			if($(this).find(':checkbox').prop('checked')) {
                total_all += total_one;
            }
			$(this).children('.col07').text((num*price).toFixed(2)+'元');

		})

		$('#total_all').text(total_all.toFixed(2)+'元');
	    $('.total_count em').text($('.cart_list_td').length);
	    $('.settlements b').text($(':checked:not(#check_all)').length);
    }
	function rm(cid) {
	    if(confirm('确定要删除吗？')) {
            $.get('/deletes/', {'cid': cid}, function (data) {
                if (data.msg == 'ok') {
                    $('#td'+cid).remove();
					shows()
                } else {
                    alert('删除失败！');
                }

            });
        }
	}
	$(function () {
		shows()
		//全选全消
		$('#check_all').click(function () {
			checked=$(this).prop('checked');
			$(':checkbox:not(#check_all)').prop('checked',checked);
			shows();
        });

		//选择
		$(':checkbox:not(#check_all)').click(function () {
		    if($(':checkbox:not(#check_all)').length==$(':checked:not(#check_all)').length){
		        $('#check_all').prop('checked',true);
			}else{
                $('#check_all').prop('checked', false);
            }

			shows();
        });
		//增加数量
//		$('.add').click(function () {
//		    cid = $(this).parents('.cart_list_td').children('.col01').children('input').val()
//			numShow = parseInt($(this).next().val())
//			numShow += 1
//			$.get('/edit/',{'cid':cid,'numShow':numShow},function (data) {
//
//			});
//		    $(this).parent().find('.num_show').val(numShow).blur();
//			shows()
//        });
//		//减少数量
//		$('.minus').click(function () {
//		    cid = $(this).parents('.cart_list_td').children('.col01').children('input').val()
//		    numShow = parseInt($(this).prev().val())
//			numShow -= 1
//			$.get('/edit/',{'cid':cid,'numShow':numShow},function (data) {
//
//        	});
//		    $(this).parent().find('.num_show').val(numShow).blur();
//			shows()
//        });
		//数量+
		$('.add').click(function () {
			var numShow=parseInt($(this).next().val());
			numShow++;
			$(this).next().val(numShow).blur();
        });
		//数量-
		$('.minus').click(function () {
			var numShow=parseInt($(this).prev().val());
			numShow--;
			$(this).prev().val(numShow).blur();
        });
		//显示数量
		$('.num_show').blur(function () {
		    kucun = $('#kucun').val()
		    cid=$(this).parents('.cart_list_td').children('.col01').children('input').val();
		    numShow = parseInt($(this).val())
			if(numShow>kucun){
		        numShow = kucun
			}else if(numShow<1){
			    numShow = 1
			}else {
			    numShow = numShow
			}
			$.get('/edit/',{'cid':cid,'numShow':numShow},function (data) {


        	});
			$(this).val(numShow)
			shows()
        });

	});
</script>
	<div class="total_count">全部商品<em>0</em>件</div>
	<ul class="cart_list_th clearfix">
		<li class="col01">商品名称</li>
		<li class="col02">商品单位</li>
		<li class="col03">商品价格</li>
		<li class="col04">数量</li>
		<li class="col05">小计</li>
		<li class="col06">操作</li>
	</ul>
<form method="get" action="/place_order/">
	{% csrf_token %}
	{%for cartObj in cart_list%}
	<ul class="cart_list_td clearfix" id="td{{cartObj.id}}">
		<li class="col01"><input value="{{cartObj.id}}" type="checkbox" name="cartGoods" checked="checked"></li>
		<li class="col02"><img src="/static/{{cartObj.goods.gpic}}"></li>
		<li class="col03">{{cartObj.goods.gtitle}}<br><em>{{cartObj.goods.gprice}}元/{{cartObj.goods.gunit}}</em></li>
		<li class="col04">{{cartObj.goods.gunit}}</li>
		<li class="col05">{{cartObj.goods.gprice}}元</li>
		<li class="col06">
			<div class="num_add">
				<input type="hidden" id="kucun" value="{{cartObj.goods.gkucun}}">
				<a href="javascript:;" class="add fl">+</a>
				<input type="text" class="num_show fl" value="{{cartObj.count}}">
				<a href="javascript:;" class="minus fl">-</a>
			</div>
		</li>
		<li class="col07">{{cartObj.goods.gprice}}</li>
		<li class="col08"><a href="javascript:rm({{cartObj.id}});">删除</a></li>
	</ul>
	{%endfor%}


	<ul class="settlements">
		<li class="col01"><input type="checkbox" id="check_all" name="" checked="checked"></li>
		<li class="col02">全选</li>
		<li class="col03">合计(不含运费)：<span>¥</span><em id="total_all">0</em><br>共计<b>0</b>件商品</li>
		<li class="col04"><input type="submit" value="去结算"></li>
	</ul>
</form>
{%endblock body%}
